<h1>CURRENT POSTS</h1>
<mat-spinner *ngIf="spinner"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !spinner">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title"/>
    </div>
    <p>{{post.content}}</p>
    <mat-action-row *ngIf="isAuth && userId === post.creator">
      <a mat-button [routerLink]="['/edit',post.id]" color="primary">Edit</a>
      <button mat-button color="warning" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-card *ngIf="posts.length <= 0 && !spinner">
  <p>There are currently no posts in the system. If you want to make a post, log in and click the "Create Post" link in the navigation. Thank you.</p>
</mat-card>
<mat-paginator 
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="changePage($event)"
  *ngIf="posts.length > 0"></mat-paginator>